/*test */
html, body {
	height: 100%;
}
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	font: 300 15px/1.625 "Helvetica Neue",Helvetica,Arial,serif;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	display: table;
	box-shadow: 0px 0px 50pt #ddd;
}

@font-face {
    font-family: 'CaviarDreamsRegular';
    src: url('fonts/CaviarDreams-webfont.eot');
    src: url('fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams-webfont.woff') format('woff'),
         url('fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('fonts/CaviarDreams-webfont.svg#CaviarDreamsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	color:#369;
	text-decoration: none;
}
a img {
	border: none;
}
h1, h2 {
	font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
	margin:.2em;
	color: #336699;
	display: inline-block;
}
h1 {
	font-size: 2.3em;
	letter-spacing: 10pt;
}
h3 {
	font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
	letter-spacing: 5pt;
	font-size: 0.5em;
}
p {
	margin:1em 0 1em 0;
	padding:0;
	font-size:0.9em;
	line-height: 1.5em;
	text-align: justify;
}
div.main {
	background: #fff;
}
div.left {
	width:115pt;
	float: left;
	background: #eee;
}
div.right {
	width: 75%;
	float: left;
}

div.left>div, div.right>div {
	padding: 10pt;
}
/* Header styles */
.header {
	display: block;
	border-bottom: 1pt solid #eee;
	padding: 0pt 0pt 4pt 13pt;
}
.controls {
	font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
	text-align: right;
	width: 100%;
	font-size: 0.9em;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
#footer p {
	padding:10px;
	margin:0;
}

time {
	font-style: italic;
	color: gray;
	display: block;
	font-size: 0.7em;
}
/* column container */

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
li{
	padding: 5pt;
}
a:hover {
	color: #aaf;
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top: 1px solid #eee;
}
#footer p {
	padding:10px;
	margin:0;
}

table.records {
	border: 1px solid #eee;
	border-collapse: collapse;
	width: 100%;
}
table.records th {
	background: #efefef;
}
table.records td, table.records th {
	border: 1px solid #ddd;
	padding: 0.5em;
}
table.records tr:hover {
	background: #FFD;
}

div.nav {
	width: 40%;
	display:inline;
	background-color:#e2e2e2;
	padding: 3pt;
}
div.navleft {
	float:left;
	border-left:5pt solid #aaa;
}
div.navright {
	float:right;
	border-right:5pt solid #aaa;
	text-align: right;
}
pre {
	overflow:auto;
	width: 450pt;
	border:1px solid #aaa;
}

textarea#edit_content {
	width: 100%
}

div#edit {
	width:75%;
}

@media (max-width:600px) {
	body {
		margin:0;
		padding:0;
		border:0;			/* This removes the border around the viewport in old versions of IE */
		font: 300 15px/1.625 "Helvetica Neue",Helvetica,Arial,serif;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		display: table;
		box-shadow: 0px 0px 50pt #ddd;
	}
	div.left {
		display:none;
	}
	div.right {
		width:100%;
		float:left;
	}
	div.pages {
		border-bottom:1px solid #e2e2e2;
		margin-bottom: 1em;
	}
	h1 {
		font-size:1.8em;
		letter-spacing: 5pt;
	}
	h2 {
		font-size: 1.2em;
	}
}
